---
// Import the necessary components
import MainLayout from "@/layouts/MainLayout.astro";
import HeroSection from "@components/sections/landing/HeroSection.astro";
import FeaturesGeneral from "@components/sections/features/FeaturesGeneral.astro";
import FeaturesNavs from "@components/sections/features/FeaturesNavs.astro";
import heroImage from "@images/profile-test.svg";
import features from "@data/features.json";
import construction from "@images/construction-image.avif";
import tools from "@images/automated-tools.avif";
import dashboard from "@images/dashboard-image.avif";


---

<MainLayout>

  <HeroSection
    title=`¡Hola a todos! soy <span
        class="text-yellow-500 dark:text-yellow-400">Carlos</span>.`
    subTitle="Músico independiente, feliz de poder compartir algo de mi experiencia con tigo."
    primaryBtn="Ver el Portafolio"
    primaryBtnURL="/portfolio"
    secondaryBtn="Formulario de Contacto"
    secondaryBtnURL="/contact"
    withReview={false}
    src={heroImage}
    alt="Stack of ScrewFast product boxes containing assorted hardware tools"
  />
  
</MainLayout>
